.alRight{
  align-self: right;
}

.profile-jumbo{
  padding-top: 6rem;
}

.jumbotron{
  background-color: lightsalmon !important;
  color: whitesmoke;
}

.jumbotron h1{
  font-size: 4rem;
}

.jumbotron p{
  font-size: 2.5rem;
}